header{
    height: 68px;
}

header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
.align-items-center {
    align-items: center;
}
.menu-icon {
    display:none
}
@media screen and (max-width:600px) {
    .menu-icon {
        display:block;
    }
}