#content1 > .container:nth-of-type(3) {
    display: none;
}
@media screen and (max-width: 768px) {
    #content1 > .container:nth-of-type(3) {
        display: block;
    }
    #content1 > .container:nth-last-child {
        display: none;
    }
}